<!DOCTYPE html>
<html>
  <head>
    <title>MakeMateApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%# ここでサイドバーパーシャルを呼び出す %>
    <%= render 'layouts/sidebar' %>
    <p class="notice"><%= notice %></p>
    # 成功時のメッセージ（例：「ログインしました」）
    <p class="alert"><%= alert %></p>
    # 失敗時のメッセージ（例：「無効なパスワードです」）
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
